@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #a4edfd; */
  font-family: "Muli", sans-serif;
  height: 200vh;
}

.body.active {
  overflow: hidden;
}

.header-container {
  height: 50vh;
  position: relative;
  transition: transform 0.1s linear;
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
}

.header-container.active {
  transform: translateX(-10em);
}

.fas {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 1;
  color: #fff;
}

.fas:focus {
  outline: 0;
}

.header-container ul {
  position: absolute;
  right: 0vw;
  background-color: gray;
  width: -4em;
  list-style-type: none;
  height: 100vh;
  opacity: 0;
  /* transition: transform 0.1s linear, opacity 0.1s linear; */
}

.header-container.active ul {
  position: absolute;
  right: -10em;
  background-color: gray;
  width: 10em;
  list-style-type: none;
  height: 100vh;
  opacity: 1;
}

.header-container.active ul li {
  padding: 1em 1em;
}

.header-container.active ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 2em;
}
